<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <authentication mode="Forms">
        <forms loginUrl="/usuario/login.aspx" defaultUrl="/admin/index.aspx" name="QueGolazo" />
      </authentication>
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider"
            description="Default SiteMap provider."
            type="System.Web.XmlSiteMapProvider "
            siteMapFile="Web.sitemap"
            securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Cliente" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

 <connectionStrings>
    <add name="localhost" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ProyectoQueGolazo ;Integrated Security=True"/>
  </connectionStrings>
<system.web.extensions>

   <scripting>

      <webServices>

          <jsonSerialization maxJsonLength="50000000"/>

      </webServices>

   </scripting>

</system.web.extensions>

</configuration>


 
