.resultado h1 {
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 1px rgba(202, 202, 202, 0.6);
  color: #FAFAFA;
}
.resultado h1 small {
  font-weight: 100;
  text-shadow: 2px 1px 1px rgba(202, 202, 202, 0.6);
  color: #FAFAFA;
}


h1.titulo-torneo {
   font-size: 45px;
  letter-spacing: .05em;
  margin: 8px 0 0px 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  padding-bottom:0px;
}
h2.titulo-torneo {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    padding-left:10px;
    padding-bottom:0px;
}

h2.titulo-torneo strong {
    font-weight: 600;
}

.padding-top {
  padding-top:35px;
}
.nomargin-right{
  margin-right:0px;
}
.nomargin-left{
  margin-left:0px;
}
.nomargin-bottom{
  margin-bottom:0px;
}
.nomargin-top{
  margin-top:0px;
}
.nopadding-right{
  padding-right:0px !important;
}
.nopadding-left{
  padding-left:0px !important;
}
.nopadding-top{
  padding-top:0px !important;
}
.nopadding-bottom{
  padding-bottom:0px !important;
}
.nopadding-vertical{
    padding-left:0px !important;
    padding-right:0px !important;
}

.nopadding{
    padding:0px !important;
}
.nopadding-horizontal{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.onlypadding-top{
    padding:0px !important;
    padding-top:5px !important;
}

.panel h3.panel-title {
    padding-bottom:0px;
}

.panel h3.panel-title {
    padding-bottom:0px;
}

.panel.nopadding .panel-body {
    padding:0px;
}

.panel.only-top-padding .panel-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom:0px;
}

.panel .panel-heading {
    padding:7px 15px 9px;
}

.tab-content {
  margin-left: 0px;
}

th.no-strong {
    font-weight: normal;
}

.header-title {
  font-size:60px;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  line-height:100px;
}

#resumen-equipo .table > thead > tr > th {
  padding-bottom:4px;
  padding-top:12px;
}

.camiseta-back {
  background-image: url(/torneo/img/img-theme/camiseta-back-sm.png);
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 20px 20px 5px 20px;
}

.camiseta-back .numero {
  font-size: 36px;
  font-weight: bold;
}

.camiseta-back .apellido {
  font-size: 10px;
  display: block;
  line-height: 13px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.5px;
}

.icon {
  padding: 4px 8px;
  width: 30px;
  height: 24px;
  border: 0px solid #ddd;
  color: #fff !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.35);
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
}

.icon.facebook {
  background-color: #4769A5;
}

li .icon {
  padding-top:2px;
}

.popover .icon.facebook {
  padding-left:11px;
  padding-top:5px;
}

.popover .icon {
  margin-top:-5px;
}

.popover {
width:300px;
}

.icon.mail {
  background-color: #47791b;
}

.profile {
  background-color: #aa2f2f;
}



.navbar-nav.nav-justified > li{
    float:none;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.02);
}

.navbar-nav-small {
  min-height: 40px !important;
}

@media (min-width: 768px) {
  .navbar-nav-small ul li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.text-lg {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 0px rgba(68, 68, 68, 0.38);
}

.text-middle > tbody > tr > td {
  vertical-align: middle !important;
}

.text-middle > thead > tr > td {
  vertical-align: middle !important;
}

.text-middle > td {
  vertical-align: middle !important;
}

.avatar-xs {
  height:22px;
  max-width:30px;
}

.avatar-sm {
  height:35px;
  max-width:40px;
}

.avatar-md {
  height:55px;
  max-width:60px;
}

img.img-principal {
  height:150px;
  margin: 0 auto;
}

.logo-torneo {
  max-height: 145px;
}

.camiseta-equipo {
  font-size:150px;
  line-height: 120px;
  width:100%;
  margin-top: 20px;
  display: block;
  text-align: center;
}
.camiseta-equipo div {
  width:75px;
  display: inline-block;
  overflow:hidden;
}

.camiseta-equipo .segunda-mitad i {
  margin-left:-75px;
}

/*.primera-mitad {
  letter-spacing: -117px;
}*/
.img-xs {
  max-width: 22px;
  max-height: 22px;
}
.footer-down p a{
  color: #fff;
  font-weight: bold;
}

.panel-box .score, .panel.score {
  background-image: url(/torneo/img/img-theme/bg-score.png);
  border-left: 7px solid;
  border-right: 7px solid;
}

.panel-box.score h3 a, .panel.score h3 a{
  color: #FFF;
}

.panel-box.score h3 a:hover, .panel.score h3 a:hover{
  color: #f4f4f4;
  text-decoration: none;
}

.panel-box.score ul li a, .panel.score ul li a {
  text-decoration: none;
}

.text-thin {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

/*----------------------- Widget Partidos y Widget Versus -----------------------------*/

.widget-partido .resultado h2, .widget-versus .resultado h2 {
  font-size: 38px;
  font-weight: 500;
}

.widget-partido .resultado .btn-xs {
    font-size: 11px;
    line-height: 15px;
}


.widget-partido * .camiseta-equipo {
  font-size:90px;
  line-height: 82px;
  margin-top: 0px;
}
.widget-partido .camiseta-equipo div {
  width:45px;
}

.widget-partido .camiseta-equipo .segunda-mitad i {
  margin-left:-50px;
}

.widget-partido img {
  max-height:95px;
}

.widget-partido .col-xs-4 {
  padding-left:3px;
  padding-right:3px;
}

.widget-partido .resultado, .widget-versus .resultado  {
  text-align: center;
  padding-left:0px;
  padding-right:0px;
}

.widget-partido .resultado i  {
    font-size:20px;
    cursor:pointer;
    margin-right:5px;
}

.widget-versus .resultado span {
    font-size: 48px;
    line-height: 48px;
}

.widget-partido .resultado span  {
    font-size:16px;
    cursor:pointer;
    margin-right:5px;
}

.resultado div.thumbnail {
    margin-bottom: 5px;
    margin-top:5px;
}

.widget-partido .resultado div.thumbnail  {
  width:45%;
  display: inline-block;
}

.widget-partido .resultado .thumbnail h2, .widget-versus .resultado.thumbnail h2 {
  padding-bottom: 5px;
  line-height: 38px;
}

.widget-partido h5{
  padding-bottom: 5px;
}

.widget-partido {
    padding-top:5px;
    text-align: center;
}

@media (max-width: 1199px) and (min-width:992px) {
  .widget-partido * .camiseta-equipo {
    font-size:80px;
    line-height: 70px;
  }
  .widget-partido img {
    max-height:80px;
  }
  .widget-partido .camiseta-equipo div {
    width:37px;
  }
  .widget-partido .camiseta-equipo .segunda-mitad i {
    margin-left:-45px;
  }
}

.small-arrows .owl-theme .owl-controls .owl-buttons div {
  padding:0px 6px;
}

/* Widget Equipos en Slider Equipos */
.otros-equipos .camiseta-equipo {
  font-size:65px;
  line-height: 50px;
  margin-top: 0px;
}
.otros-equipos .camiseta-equipo div {
  width:32px;
}

.otros-equipos .camiseta-equipo .segunda-mitad i {
  margin-left:-32px;
}

.li-item img {
    max-height: 55px;
}

.equipos-home .camiseta-equipo {
    font-size:95px;
    line-height: 75px;
    margin-top: 0px;
}
.equipos-home .camiseta-equipo div {
    width:48px;
}

.equipos-home .camiseta-equipo .segunda-mitad i {
    margin-left:-48px;
}

.equipos-home .li-item img {
    max-height: 82px;
}


/*----------------------- END: Widget Partidos y Widget Versus -----------------------------*/

/*----------------------- Colores de Los Estados -----------------------------*/


.fase-Registrada {
    background-color: #777;
}
.fase-Diagramada {
    background-color: #337ab7;
}
.fase-Iniciada {
    background-color: #f0ad4e;
}
.fase-Finalizada {
    background-color: #5cb85c;
}
.fase-Cancelada {
    background-color: #d9534f;
}


.fecha-Diagramada {
    background-color: #337ab7;
}
.fecha-Completa {
    background-color: #5cb85c;
}
.fecha-Incompleta {
    background-color: #f0ad4e;
}
.fecha-Cancelada {
    background-color: #d9534f;
}


.partido-Ganado {
    background-color: #5cb85c;
}
.partido-Perdido {
    background-color: #d9534f;
}
.partido-Empatado {
    background-color: #F0B74E;
}


.partido-Diagramado {
    background-color: rgba(51, 122, 183, 0.7);
    /*background-color: #337ab7;*/
}
.partido-Programado {
    background-color: rgba(240, 173, 78, 0.7);
    /*background-color: #f0ad4e;*/
}
.partido-Jugado {
    background-color: rgba(92, 184, 92, 0.7);
    /*background-color: #5cb85c;*/
}
.partido-Cancelado {
    background-color: rgba(217, 83, 79, 0.7);
    /*background-color: #d9534f;*/
}


/*----------------------- END: Colores de Los Estados -----------------------------*/

h5.col-title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #DDD;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}

h5.page-title {
    padding-top:0px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    border-bottom: 2px solid #DDD;
    font-size: 22px;
    line-height: 21px;
    color: #808080;
}

@media (max-width: 1199px) {
  h1.titulo-torneo {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  .mobile-nopadding-right {
        padding-right:0px;
    }
  h1.titulo-torneo {
    font-size: 35px;
  }
  .header-title {
    font-size:35px;
    line-height:30px;
    margin-top:0px;
  }
  .sb-page-header {
    position: relative;
    padding: 15px 7px;
    text-align: center;
    color: rgba(255,255,255,0.8);
    /*background-color: #4C9832;*/
    /*background-image: url('../images/bg-patterns/a2.png');*/
    height:100px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .logo-torneo {
  max-height: 70px;
  }
  .camiseta-equipo {
    font-size:120px;
    line-height: 100px;
  }
  .camiseta-equipo div {
    width:60px;
  }
  .camiseta-equipo .segunda-mitad i {
    margin-left:-60px;
  }
  .camiseta-equipo {
    margin-top: 0px;
  }
  .list-group {
    margin-bottom: 0px;
  }
}

@media (max-width: 550px) {
  .camiseta-equipo {
    font-size:90px;
    line-height: 80px;
  }
  .camiseta-equipo div {
    width:45px;
  }
  .camiseta-equipo .segunda-mitad i {
    margin-left:-50px;
  }
  .mobile-margin-top {
    margin-top:15px;
  }
  h1.titulo-torneo {
    font-size: 30px;
    margin: 0px;
  }
}

@media (max-width: 420px) {
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 6px;
    margin-bottom: 3px;
  }
  .header-title {
    font-size:25px;
    text-shadow: 0px 1px 0px #666, 0px 2px 0px #555, 0px 3px 0px #444, 0px 4px 0px #333, 0px 5px 7px #222
  }
  .camiseta-equipo {
    font-size:60px;
    line-height: 50px;
  }
  .camiseta-equipo div {
    width:30px;
  }
  .camiseta-equipo .segunda-mitad i {
    margin-left:-35px;
  }
  .list-group-item {
    padding: 5px 8px;
  }
  .padding-top {
    padding-top: 20px;
  }
  .score {
    font-size:12px;
  }
  .score .resultado h1 {
    font-size: 40px;
  }
  .score h3 {
    font-size: 14px;
  }
  .crumbs {
    padding: 5px 0px;
  }
  .crumbs ul li {
    font-size:14px;
    line-height:12px;
  }
  .headerbox h1 {
    font-size: 25px;
    line-height: 20px;
  }
}

.li-item {
    padding: 5px 0px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.li-item:hover {
  background-color: rgba(100, 100, 100, 0.20);
}

.li-partido {
  line-height: 12px;
    margin-top: 4px;
  float: none;
  width: 115px;
  height: 80px;
  display: inline-block;
  white-space: normal;
  font-size: 13px;
  margin-right: 4px;
  background-color: #3d3d3d;
  /* box-shadow: 0 0 6px rgba(0,0,0,0.5); */
  position: relative !important;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.li-partido .fecha {
  color: #FFF;
  font-size: 10px;
  padding: 4px 0px;
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.li-partido .text {
    float: left;
    width: 100%;
    padding: 7px 10px;
    text-align: center;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.li-partido .text .equipos {
    margin: 5px 0px 4px 0px;
}

.li-partido .text .equipos a {
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.li-partido .text .equipos a span {
    color: #fff;
    font-size: 16px;
}

.li-partido .text .equipos p.estado {
  font-size: 11px;
  color: #FFF;
  padding: 3px 7px;
  margin-top:8px;
  border-radius: 2px;
  text-transform: uppercase;
  display: inline-block;
  float: none;
}

.li-partido .text .equipos p.estado.partido-Jugado {
  font-size: 12px;
}


.proximos-partidos, .partidos-fecha-actual {
  padding-left:34px;
  padding-right:20px;
}

.slider-multiple.owl-theme .owl-controls .owl-buttons div {
  padding:0px 6px;
  margin-top:15px;
}

.slider-multiple-title {
  margin-top: -30px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 30px;
}

.slider-multiple a {
    color:#fff;
}

.slider-multiple a:hover {
    text-decoration: none;
}


@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}
.widget {
    text-align: center;
}

.widget-md h1{
    font-size:40px;
    font-weight: 700;
    margin-bottom:0px;
    padding-bottom:0px;
    line-height: 35px;
}

.widget-lg h1{
    font-size:50px;
    font-weight: 700;
    margin-bottom:0px;
    padding-bottom:0px;
    line-height: 60px;
}

.widget-xs h1{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 25px;
}

.widget span{
    font-weight: normal;
}

.widget > span{
    font-size:12px;
}

canvas{
    width: 100% !important;
    height: auto !important;
}
.canvas-md {
    max-width: 400px;
}
.canvas-lg {
    max-width: 600px;
}

.avatar-slider h1{
  font-size: 35px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  padding-top:2px;
}

.avatar-principal h1{
  font-size: 55px;
  padding-bottom: 0px;
  line-height: 50px;
}
a.avatar-principal {
  margin: 15px 30px !important;
  padding:30px 10px;
}



.avatar-slider {
    height:45px;
    width:55px;
}

.avatar-jugador {
    margin:5px;
    borcer:1px solid rgba(0,0,0,0.2);
    padding:5px;
    text-align: center;
    margin: 5px auto;
}
a.avatar-jugador {
    display: block;
    color:#FFF;
}

a.avatar-jugador h1, a.avatar-jugador h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

a.avatar-jugador:hover {
    text-decoration: none;
}

.avatar-bg-1 {
    background-color:#3498db !important;
}
.avatar-bg-2 {
    background-color:#2ecc71 !important;
}
.avatar-bg-3 {
    background-color:#9b59b6 !important;
}
.avatar-bg-4 {
    background-color:#34495e !important;
}
.avatar-bg-5 {
    background-color:#1abc9c !important;
}
.avatar-bg-6 {
    background-color:#e74c3c !important;
}
.avatar-bg-7 {
    background-color:#f1c40f !important;
}
.avatar-bg-8 {
    background-color:#e67e22 !important;
}
.avatar-bg-9 {
    background-color:#323232 !important;
}
.avatar-bg-0 {
    background-color:#95a5a6 !important;
}

.text-yellow {
    color: #f1c40f;
}


.dark-home .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
}

.tab-content.home {
    padding-left:40px;
}

.home .nav-tabs {
    margin-top: 0px !important;
}

#footer.home {
    margin-top: 0px;
    padding-top: 30px;
}



/*----------------------- Widget Podio -----------------------------*/
.podio {
    background-image: url("../img/img-theme/podio.png");
    background-size:100% 100%;
    position: relative;
}

.podio-md {
    height:230px;
}

.podio-md div img{
    max-height: 85px;
    max-width: 75px;
}

.podio div {
    display: inline-block;
    position: absolute;
}

.podio div.segundo {
    top:19%;
    left:10%;
}

.podio div.primero {
    top:2%;
    left:40%;
}

.podio div.tercero {
    top:23%;
    left:70%;
}

.podio div a {
    width: 80px;
    display: block;
}

.podio-md .camiseta-equipo {
    font-size:85px;
    line-height: 70px;
    margin-top: 10px;
    width:84px;
}
.podio-md .camiseta-equipo div {
    width:42px;
}

.podio-md .camiseta-equipo div:first-child {
    left:0%;
}

.podio-md .camiseta-equipo .segunda-mitad {
    left:50%;
}

.podio-md .camiseta-equipo .segunda-mitad i {
    margin-left:-48px;
}
/*----------------------- END: Widget Podio -----------------------------*/
