/* --------------------- ColorPicker ------------------------- */
div.colorPicker-picker {
  background: url(arrow.gif) no-repeat top right;
  cursor: pointer;
  margin: 2px 6px;
  border-style: inset;
}

.colorpick {
  display: block;
  padding: 4px 0px;
  height: 35px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

div.colorPicker-palette {
  position: absolute;
  z-index: 9999;
  min-width: 120px;
  max-width: 252px;
  padding: 5px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
  div.colorPicker_hexWrap {width: 100%; float:left; display:none; }
  div.colorPicker_hexWrap label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 20px;
  width: 20px;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 20px;
  webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.colorPicker-swatch:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border:1px solid #fff;
}