<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.webServer>  
     <defaultDocument>
      <files>
        <clear />
        <add value="admin/index.aspx" />
      </files>
    </defaultDocument>  
  </system.webServer>
   <rewrite>
    <rules>
      <rule name="rewrite localHost">
        <match url="^12434/([a-zA-Z])" />
        <action type="Rewrite" url="/torneo/index.aspx?nick={R:1}" />
      </rule>
    <rule name="rewrite web">
        <match url="^.org/([a-zA-Z])" />
        <action type="Rewrite" url="/torneo/index.aspx?id={R:1}" />
      </rule>
    </rules>
</rewrite>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <authentication mode="Forms">
        <forms loginUrl="/usuario/login.aspx" defaultUrl="/admin/index.aspx" name="QueGolazo" />
      </authentication>
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider"
            description="Default SiteMap provider."
            type="System.Web.XmlSiteMapProvider "
            siteMapFile="Web.sitemap"
            securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
      <httpRuntime targetFramework="4.5" />

      <pages>
        <controls>
          <add assembly="Utils"
                  namespace="Utils"
                  tagPrefix="aspNew" />
        </controls>
      </pages>
    </system.web>

  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Cliente" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

 <connectionStrings>
    <add name="localhost" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ProyectoQueGolazo;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
    <add name="localhost2" connectionString="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9BC063_QueGolazo;User Id=DB_9BC063_QueGolazo_admin;Password=secreto369258;"/>  
 </connectionStrings>

  
  <system.web.extensions>
     <scripting>
        <webServices>
            <jsonSerialization maxJsonLength="50000000"/>
        </webServices>
     </scripting>
  </system.web.extensions>

</configuration>


 
