<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.webServer>  
   <rewrite>
      <rules>
      <rule name="exlude pages and resources" stopProcessing="true">
      <!--<match url="([A-Za-z\/]).([\w+.])" />-->
      <match url="([A-Za-z-\/\d_{}\[\]]).(js|css|jpeg|jpg|png|ttf|woff|eot|svg|ico|gif|min.js|min.css|aspx|ashx|axd|html)" />          
      <action type="None"  />
      </rule>    
      <rule name="fechas" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/fase-(\d+)/fecha-(\d+)" />
      <action type="Rewrite" url="/torneo/fechas.aspx?nickTorneo={R:1}&amp;idEdicion={R:2}&amp;idFase={R:3}&amp;idFecha={R:4}" />
      </rule>
      <rule name="partido" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/partido-(\d+)" />
      <action type="Rewrite" url="/torneo/partido.aspx?nickTorneo={R:1}&amp;idEdicion={R:2}&amp;idPartido={R:3}" />
      </rule>
      <rule name="jugador" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/equipo-(\d+)/jugador-(\d+)" />
      <action type="Rewrite" url="/torneo/jugador.aspx?nickTorneo={R:1}&amp;idEdicion={R:2}&amp;idEquipo={R:3}&amp;idJugador={R:4}" />
      </rule>
      <rule name="equipo" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/equipo-(\d+)" />
      <action type="Rewrite" url="/torneo/equipo.aspx?idEdicion={R:2}&amp;nickTorneo={R:1}&amp;idEquipo={R:3}" />
      </rule>
      <rule name="fixture" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/fixture" />
      <action type="Rewrite" url="/torneo/fixture.aspx?idEdicion={R:2}&amp;nickTorneo={R:1}" />
      </rule>
      <rule name="goleadores" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/goleadores" />
      <action type="Rewrite" url="/torneo/goleador.aspx?idEdicion={R:2}&amp;nickTorneo={R:1}" />
      </rule>
      <rule name="posiciones" stopProcessing="true">
      <match url="(\w+)/edicion-(\d+)/posiciones" />
      <action type="Rewrite" url="/torneo/posiciones.aspx?idEdicion={R:2}&amp;nickTorneo={R:1}" />
      </rule>
        <rule name="sanciones" stopProcessing="true">
          <match url="(\w+)/edicion-(\d+)/sanciones" />
          <action type="Rewrite" url="/torneo/sanciones.aspx?idEdicion={R:2}&amp;nickTorneo={R:1}" />
        </rule>
        <rule name="fechas sin especificar fase ni fecha" stopProcessing="true">
          <match url="(\w+)/edicion-(\d+)/fechas" />
          <action type="Rewrite" url="/torneo/fechas.aspx?nickTorneo={R:1}&amp;idEdicion={R:2}" />
        </rule>
        <rule name="fechas sin especificar fecha" stopProcessing="true">
          <match url="(\w+)/edicion-(\d+)/fase-(\d+)" />
          <action type="Rewrite" url="/torneo/fechas.aspx?nickTorneo={R:1}&amp;idEdicion={R:2}&amp;idFase={R:3}" />
        </rule>
      <rule name="Redirect Torneo">
      <match url="(\w+)" />
      <action type="Rewrite" url="/torneo/index.aspx?nickTorneo={R:1}" />
      </rule>

      </rules>
    </rewrite> 
     <defaultDocument>
      <files>
        <clear />
        <add value="admin/index.aspx" />
      </files>
    </defaultDocument> 
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/truetype" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
  </system.webServer>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <authentication mode="Forms">
        <forms loginUrl="/usuario/login.aspx" defaultUrl="/admin/index.aspx" name="QueGolazo" />
      </authentication>
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider"
            description="Default SiteMap provider."
            type="System.Web.XmlSiteMapProvider "
            siteMapFile="Web.sitemap"
            securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
      <httpRuntime targetFramework="4.5" />

      <pages>
        <controls>
          <add assembly="Utils"
                  namespace="Utils"
                  tagPrefix="aspNew" />
        </controls>
      </pages>
    </system.web>

  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Cliente" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

 <connectionStrings>
    <add name="localhost" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ProyectoQueGolazo;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
    <add name="localhost2" connectionString="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9BC063_QueGolazo;User Id=DB_9BC063_QueGolazo_admin;Password=secreto369258;"/>  
 </connectionStrings>

  
  <system.web.extensions>
     <scripting>
        <webServices>
            <jsonSerialization maxJsonLength="50000000"/>
        </webServices>
     </scripting>
  </system.web.extensions>

</configuration>


 
